*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff
}

.register-background {
  background-image: url("../img/Tokopedia-Regist.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#logo1 {
  text-align: center;
  width: 560px;
  margin: 0 auto;
}

#btnWelcome {
  position: relative;
  right: 215px;
  bottom: 25px;
}

#HeaderText {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

h5 {
  color: #ff0019;
}


.spawn {
  opacity: 1;
}

h4,
h1 {
  color: #42b549;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

input,
input[type="radio"]+label,
input[type="checkbox"]+label:before,
select option,
select {
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

input:focus {
  outline: 0;
  border-color: #64ac15;
}

input:focus+.input-icon i {
  color: #42b549;
}

input:focus+.input-icon:after {
  border-right-color: #42b549;
}

input[type="radio"] {
  display: none;
  padding: 20px;
}

.select-input {
  width: 50%;
}

input[type="radio"]+label,
select {
  display: inline-block;
  text-align: center;
  border-radius: 0;
}

input[type="radio"]+label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type="radio"]+label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type="radio"]+label i {
  padding-right: 0.4em;
}

input[type="radio"]:checked+label,
input:checked+label:before,
select:focus,
select:active {
  background-color: #42b549;
  color: #fff;
  border-color: #64ac15;
}


input[type="checkbox"]+label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "";
}

input:checked+label:after {
  opacity: 1;
}

select {
  height: 3.4em;
  line-height: 2;
}

select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

select:focus,
select:active {
  outline: 0;
}

select option {
  background-color: #42b549;
  color: #fff;
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
}

.input-group:before,
.input-group:after {
  content: "";
  display: table;
}

.input-group:after {
  clear: both;
}

.input-group-icon {
  position: relative;
  justify-content: center;
  left: 50px;
}

.input-group-icon input {
  padding-left: 4.4em;
  width: 547px;
}

.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.containerRegist {
  max-width: 50em;
  padding: 2em 3em 2em 3em;
  margin: 0em auto;
  margin-bottom: 3em;
  background-size: 700px 380px;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.row {
  zoom: 1;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.container {
  overflow: hidden;
  padding-left: 0;
}

.row:after {
  clear: both;
}

.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}

.col-half:last-of-type {
  padding-right: 0;
}

.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}

.col-third:last-of-type {
  padding-right: 0;
}

.btn-main {
  padding: 15px;
  color: #fff;
  font-weight: bold;
  background-color: #42b549;
  float: right;
  width: 30%;
  margin-top: 45px;
}

label {
  color: #424242;
}

#page {
  margin-top: 65px;
  float: left;
  color: #756e6e;
}

#page4lbl {
  position: relative;
  width: 560px;
  font-size: 16px;
}

#validate {
  color: #ff0019;
  text-align: center;
}

/* The container */

.checkB {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.checkB input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: -30px;
  height: 23px;
  width: 23px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.checkB:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.checkB input:checked~.checkmark {
  background-color: #42b549;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkB input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkB .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.row1 {
  zoom: 1;
}

.row1:before,
.row1:after {
  content: "";
  display: table;
}

.row1:after {
  clear: both;
}

#example {
  text-Align: center;
  color: #0b7a0c;
}

#selectCur {
  cursor: pointer;
}

#interviewFirst {
  cursor: pointer;
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.regist-button {
  position: relative;
  right: 320px;
  width: 820px;
}

#interview {
  position: relative;
  left: 150px;
}

#interviewCard {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#navitem {
  width: 100px;
}

#navItemQ {
  width: 140px;
}

#navbarYear {
  position: relative;
  bottom: 13px;
  font-size: 13.5px;
  width: 90px;
  height: 45px;
}

#navbarType {
  position: relative;
  bottom: 13px;
  font-size: 13.5px;
  width: 100px;
}

.containerRegist-wrapper {
  margin: auto;
  width: 700px;
}

#navbarQ {
  position: relative;
  bottom: 13px;
  font-size: 13.5px;
  width: 128px;
}

#navbarM {
  position: relative;
  bottom: 13px;
  font-size: 13.5px;
  width: 120px;
}

#navbarM {
  position: relative;
  right: 150px;
}

#navbutton {
  display: inline-block;
  padding: 0px;
  width: 60px;
  height: 30px;
  position: relative;
  bottom: 20px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.651);
  border-color: rgb(212, 212, 212);
}

#phone[type=number] {
  -moz-appearance: textfield;
}

#phone::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sidebar .nav p {
  font-weight: 500;
}

#colon {
  position: relative;
  top: 8px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
}

#navbutton:hover {
  background-color: transparent;
  color: #b1b1b1;
}

#schoolDash {
  position: relative;
  bottom: 15px;
  width: 70px;
  height: 45px;
}

#emailWelcomeIn {
  width: 442px
}

#emailWelcome {
  position: relative;
  padding-top: 20px;
}

.icon-email {
  width: 442px;
  margin: 0 auto;
}

#main-email {
  position: relative;
  left: 0;
  margin: 0 auto;
  -ms-flex-pack: center;
  justify-content: center;

}

@media only screen and (min-Width:990px) {
  #logo1 {
    margin-left: 75px;
  }
}

@media only screen and (max-Width:990px) {
  .filter {
    visibility: hidden;
  }

  #navbutton {
    position: relative;
    bottom: 0px;
  }

  #navbarYear {
    cursor: pointer;
    position: relative;
    left: 48px;
    color: #000;
    opacity: 0.8;
    margin-bottom: 8px;
  }

  #navbarType {
    cursor: pointer;
    position: relative;
    left: 45px;
    color: #000;
    opacity: 0.8;
    margin-bottom: 8px;
  }

  #navbarQ {
    cursor: pointer;
    position: relative;
    left: 30px;
    color: #000;
    opacity: 0.8;
    margin-bottom: 8px;
  }

  #navbarM {
    cursor: pointer;
    position: relative;
    left: 30px;
    color: #000;
    opacity: 0.8;
  }
}

@media only screen and (max-Width:828px) {
  .containerRegist {
    padding: 2em 3em 2em 3em;
    margin: 0em auto;
    margin-bottom: 3em;
    background-size: 700px 380px;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  }

  #emailWelcome {
    position: relative;
    padding-top: 20px;
  }

  #btnWelcome {
    position: relative;
    right: 215px;
    bottom: 25px;
  }

  #interviewFirst {
    cursor: pointer;
    position: relative;
    width: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-Width:620px) {
  #btnWelcome {
    position: relative;
    bottom: 25px;
  }

  #emailWelcome {
    position: relative;
    padding-top: 20px;
  }

  #interviewFirst {
    cursor: pointer;
    position: relative;
    width: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .containerRegist {
    width: 120%;
  }
}

@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }

  .containerRegist {
    width: 180%;
  }
}

@media only screen and (max-Width:464px) {
  #btnWelcome {
    width: 100px;
    position: relative;
    right: 55px;
    bottom: 25px;
  }

  #interviewFirst {
    cursor: pointer;
    position: relative;
    width: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #emailWelcome {
    position: relative;
    padding-top: 20px;
  }

  .containerRegist {
    padding: 2em 3em 2em 3em;
    margin: 0em auto;
    margin-bottom: 3em;
    background-size: 700px 380px;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 375px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }

  #emailWelcome {
    position: relative;
    padding-top: 20px;
  }

  .containerRegist {
    width: 200%;
  }
}

@media only screen and (max-width: 320px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }

  #emailWelcome {
    position: relative;
    padding-top: 20px;
  }
}